
/*== HEADER ==*/

header {
    background-color: white;
    font-size: 27px;
}

.search {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
.search:focus {
    width: 100%;
}
  
 

/*== BODY ==*/

.btn-danger {
  background-color: #EB5C0C;
  border: none;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content:c e
}


.border-r {
  border-right: 1px solid black;
}



pl-3.pr2 {
padding-left: 70%;
}

.col-sm{
font-size: 19px;
font-family: "Calibri";
}


#Dificuldade {
  border: 1px solid #d4d4d4;
  height: 50.20px;
  width: 202.23px;
  text-align: center;
}


.Explorar-input-btn{
  background-color: #EB5C0C;
  border: none;
  }



.cards-trilhas {
 padding-top: 4%;
 padding-bottom: 2%;
 text-align: center;

}

.button-Btn {
 color: #EB5C0C;
 background-color: white;
 border: none;
 text-align: left;
 padding-left: 0;
}

.card-text {
text-size-adjust: auto;
font-family: "calibri";
text-justify: distribute-all-lines;
font-size: 14px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
  padding-left: 25%;
  padding-right: 25%;
  font-family: "calibri";
  font-size: 1.3rem;
  background-color: white;
}

.Form-titulo {
padding-top: 3%;
text-align: center;
}

.form-control{
background-color: whitesmoke;
}

.buttom-form {
  font-size: 17px;
  color: white;
  background-color: #EB5C0C;
  width: 140px;
  height: 43px;
  border: none;
  font-size: 12px;
  border-radius: 10px;
  }
  
  .btn-form-wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    border: none;
    }

.footer {
  text-align: center;
  width: 100%;
  background-color: white;
  font-family: 'Calibri';
  font-size: 1.7px;
  color: gray;
}

.carousel-inner {
  position: relative;
  margin: 0 auto;
}

.carousel-inner .content {
  position: absolute;
  bottom: 1%;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-size: 23px;
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
}

/*///////////// MODAL LOGIN /////////////*/

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(95, 3, 95);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  display: flex;
  float: none;
}


.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  float: center;
  margin: auto;
}

.containerX {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  float: center;
  margin: auto;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/*//////////// The Modal (background)//////*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #EB5C0C;
  cursor: pointer;
}

  .cancelarbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    display: flex;
    float: none;
  }

#date{
    text-align: justify center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
}

#floatingSelect{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#floatingInput{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.4rem;
    margin: 0;
    font-size: 17px;
}

.d-flex {
background-color: rgb(227, 227, 227);
}

#pesquisa {
    background-color: rgb(227, 227, 227);
    
}


.row {
margin: 0;
padding: 0;
}

/*////// AUTO COMPLETE ////*/


.autocomplete {
  position: relative;
  padding: 0px 12.75px; 
}

.Cidade-btn {
  border: 1px solid transparent;
  background-color: white;
  font-size: 16px;
  
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: 15rem;
}
.autocomplete-items div {
  cursor: pointer;
  background-color:whitesmoke;
}

.autocomplete-items:hover {
  cursor: pointer;
  background-color: blue;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }


.signin-login {
  background-color: rgb(95, 3, 95);
  width: auto;
  display: flex;
  float: none;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn-signin {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  display: flex;
  float: none;
}

.breadcrumb {
width: 100%;
padding: 0;
padding-left: 2%;
}

.breadcrumb a {
font-size: 0.1rem;
font-family:'sans-serif';
color: red;
}

#FAQ {
text-align: center;
padding-top: 1%;
padding-bottom: 2%;
}

.accordion {
padding-bottom: 10%;
width: auto;
padding-left: 10%;
padding-right: 10%;
}

.btn-link {
color: #EB5C0C;
font-family: "calibri";
}

.card-faq {
padding-left: 3%;
padding-top: 2%;
font-family: "calibri";
color: gray;
font-size: 10px;
}