* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 17px;
    background-color: #D9D9D9;
    font-family: 'Calibri';
}


/* MAIN-CONTAINER */
.container {
    
    align-items:center;
    width: 100%;
    max-width: 1400px;
}

/*================*/
/* HEADER SECTION */
/*================*/

header {
    background-color:#F5F5F5;
    border-bottom: 2px solid black;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 10px;
}



.logo-container   {
    width: 102px;
    height: 102px;
    border-radius: 102px;
    /* background-color: black; */
    
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

}

.header-list {
    display: flex;
    flex-direction: row;
    column-gap: 1.6rem;

    list-style-type: none;
}

.header-list li a .header-icon {
    height: 30px;
    font: #d26969;
}


/*==============*/
/* MAIN SECTION */
/*==============*/
.trails {
    border-bottom: 2px solid black;
}
.main-frame-trails {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
 
    padding: 84px 101px ;

    width: 100%;
    height: 914px;
}

.barra-pesquisa-trail {
    width: 1200px;
    height: 150px;
    background: rgb(252, 252, 252);
    border-radius: 9px;
}
.input-pesquisa-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .pesquisa-input-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 100%;
}
.pesquisa-input-list li {
    border-right: 1px solid black;
}

.pesquisa-input-item{
    font-family: 'Calibri';
    font-size: 20px;
    color: #050200;
}
.formulario{
    font-family: 'Calibri';
    font-size: 0px;
    height: 38px;
    width: 230px;
    background-color: rgb(255, 255, 255);
}
.xpto{
    background-color: #faf8f7;
    font-family: 'Calibri';
    font-size: 20px;
    height: 38px;
    width: 213px;
    margin-right: 1rem;
}
.pesquisa-input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.pesquisa-input-list li:nth-last-child(1) {
    border: 0;
}

.pesquisa-input-list li input {
    height: 38px;
    width: 213px;
    margin-right: 1rem;
}

.pesquisar-input-btn  {
    width: 148px !important;
    height: 45px !important;
    color: white;
    font-family: 'Calibri';
    font-size: 20px;
    background-color: #ff6004;
    border-radius: 90px;
    border: none;
    cursor: pointer;
}

.pesquisar-input-explorar{
    width: 108px !important;
    height: 30px !important;
    color: white;
    font-family: 'Calibri';
    font-weight: 500;
    font-size: 17px;
    background-color: rgb(255, 91, 2);
    border-radius: 70px;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    align-items: left;
    width: 20%;
    height: 20px;
    padding: 0px;
}

.pesquisar-input-btn:hover  {
    opacity: 0.7;
}


.pesquisar-input-login{
    width: 148px !important;
    height: 45px !important;
    color: white;
    font-family: 'Calibri';
    font-weight: 500;
    font-size: 25px;
    background-color: rgb(255, 91, 2);
    border-radius: 70px;
    border: none;
    cursor: pointer;
    
    justify-content: space-between;
    align-items: left;
    width: 20%;
    height: 20px;
    padding: 0px;
}

.slider-trilhas {
    height: 800px;
    width: 1160px;
    margin-bottom: 1rem;

    background-image: url('../images/bike-g48a56f32c_1920.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;  
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.slider-trilhas span:nth-child(1) {
    background-color: aqua;
}


.dot-trilha-slider {
    margin: 3.5rem 1rem;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


/*==============*/
/* TRILHA BOX */
/*==============*/
.trilhas-recomendadas {
    background-color: #C4C4C4;
}
.trilhas-wraper {
    height: 1028px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.trilhas-box {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    text-justify: auto;
    align-items: auto;
}
.trilha-item {
    padding: 1rem;
    border-radius: 10px;
    height: 400px;
    width: 402px;
    cursor: pointer;
    background-color: white;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.icon-trilha-item {
    width: 100%;
    text-align: right;
}

.mais-trilhas-btn-element {
    font-size: 24px;
    color: white;
    width: 260px;
    height: 63px;
    border-radius: 90px;
    background: #EB5C0C;
    border: 1px solid #EB5C0C;
    transition: 0.5;
    cursor: pointer;
}

.mais-trilhas-btn-element:hover{
    background-color: rgb(136, 66, 0);
}

.trilhas-recomendadas-title h1 {
    font-size: 50px;
    font-family: 'Calibri';
}

.setup-form{
    width: 100%; /* Full width */
    padding: 1px; /* Some padding */ 
    border: 0px #ccc; /* Gray border */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 7px; /* Bottom margin */
    font-family: 'Calibri';
    font-size: 16px;
    color: black;
  }
  
  
  .buttom-form {
    background-color:#EB5C0C;
    font-family: 'Calibri';
    font-size: 16px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .buttom-form:hover {
    background-color: rgb(136, 66, 0);
  }
  
    .container-form {
    background-color: whitesmoke;
    padding: 2px;
  }

footer {
    padding-top: 0px;
    text-align: center;
    width: 100%;
    height: 70px;
    background-color;white;
    font-family: 'Calibri';
    color: #767676;
}

/* Style all font awesome icons */
.fa {
    margin-top: 2%;
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
   
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }