* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 17px;
    background-color: #D9D9D9;
    font-family: 'Calibri';
}

/* MAIN-CONTAINER */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

/*================*/
/* HEADER SECTION */
/*================*/

header {
    background-color: #F5F5F5;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 10px;
}



.logo-container {
    width: 102px;
    height: 102px;
    border-radius: 102px;
    /* background-color: black; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-list {
    display: flex;
    flex-direction: row;
    column-gap: 1.6rem;

    list-style-type: none;
}

.header-list li a .header-icon {
    height: 30px;
    font: #d26969;
}


/*==============*/
/* MAIN SECTION */
/*==============*/
.trails {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.main-frame-trails {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 84px 101px;
    width: 100%;
    height: 250px;
}

.barra-pesquisa-trail {
    width: 1200px;
    height: 150px;
    background: rgb(252, 252, 252);
    border-radius: 9px;
}

.input-pesquisa-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pesquisa-input-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.pesquisa-input-list li {
    border-right: 1px solid black;
}

.pesquisa-input-item {
    font-family: 'Calibri';
    font-size: 18px;
    color: #050200;
    text-align: center;
}

.formulario {
    font-family: 'Calibri';
    font-size: 0px;
    height: 38px;
    width: 230px;
    margin-right: 1rem;
    background-color: rgb(255, 255, 255);
}

.xpto {
    background-color: #faf8f7;
    font-family: 'Calibri';
    font-size: 18px;
    height: 38px;
    width: 213px;
    margin-right: 1rem;
    text-align: center;
}


.pesquisa-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.pesquisa-input-list li:nth-last-child(1) {
    border: 0;
}

.pesquisa-input-list li input {
    height: 38px;
    width: 213px;
    margin-right: 1rem;
}

.pesquisa-input-list li label {
    padding-bottom: 0%;
    margin-right: 1rem;
    font-weight: 900;
    color: gr;
}


.pesquisar-input-btn {
    width: 148px !important;
    height: 45px !important;
    color: white;
    font-family: 'Calibri';
    font-size: 20px;
    background-color: #ff6004;
    border-radius: 90px;
    border: none;
    cursor: pointer;
}

.novapesquisa-input-btn {
    width: 148px;
    height: 35px;
    background-color: #EB5C0C;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius:10px;
    border: none;
    cursor: pointer;
}

.novapesquisa-input-btn:hover {
    opacity: 0.7;
}

.pesquisar-input-explorar {
    width: 108px !important;
    height: 30px !important;
    color: white;
    font-family: 'Calibri';
    font-weight: 500;
    font-size: 17px;
    background-color: rgb(255, 91, 2);
    border-radius: 70px;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    align-items: left;
    width: 20%;
    height: 20px;
    padding: 0px;
}

.pesquisar-input-btn:hover {
    opacity: 0.7;
}


.pesquisar-input-login {
    width: 120px !important;
    height: 30px !important;
    color: white;
    font-family: 'Calibri';
    font-weight: 500;
    font-size: 17px;
    background-color: rgb(255, 91, 2);
    border-radius: 70px;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    align-items: left;
    width: 20%;
    height: 20px;
    padding: 0px;
}


.slider-trilhas {
    height: 800px;
    width: 1160px;
    margin-bottom: 1rem;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.slider-trilhas span:nth-child(1) {
    background-color: aqua;
}


.dot-trilha-slider {
    margin: 3.5rem 1rem;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


/*==============*/
/* TRILHA BOX */
/*==============*/
.trilhas-recomendadas {
    background-color: #D9D9D9;
}

.trilhas-wraper {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.trilhas-box-geral {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    text-justify: auto;
    align-items: auto;
}

.trilhas-box-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.trilha-item {
    padding: 1rem;
    margin: 1rem 1rem;
    border-radius: 10px;
    height: 400px;
    width: 402px;
    background-color: white;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    ;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.icon-trilha-item {
    width: 100%;
    text-align: right;
}

.mais-trilhas-btn-element {
    font-size: 17px;
    color: white;
    width: 140px;
    height: 43px;
    border-radius: 90px;
    background: #EB5C0C;
    border: none;
    transition: 0.5;
    cursor: pointer;
}

.mais-trilhas-btn-element:hover {
    background-color: rgb(136, 66, 0);
}

.trilhas-recomendadas-title h1 {
    font-size: 50px;
    font-family: 'Calibri';
    margin: 2rem;
}


.setup-form {
    border: 0px #ccc;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding-bottom: 2%;
    background-color: whitesmoke;
}


.setup-form>button { 
    font-size: 17px;
    color: white;
    width: 140px;
    height: 43px;
    border-radius: 90px;
    background: #EB5C0C;
    border: none;
    transition: 0.5;
    cursor: pointer;
}

.setup-form-nome,
.setup-form-email {
    width: 100%;
    height: 3rem;
    outline: none;
    border: 0;
    padding-left: 0.2rem;
    margin: 15px 0;
    font-family: 'calibri';
    font-size: 16px;
    color: black;
    text-align: left;
}

.setup-form label {
    font-size: 20px;
    margin-top: 0.5rem;
    text-align: left;
}

.txtAreaForm {
    align-items: center;
    width: 100%;
    height: 7rem;
    outline: none;
    border: 0;
    padding-left: 0.2rem;
    margin: 15px 0;
    font-family: 'Calibri';
    font-size: 16px;
    color:black;
    background-color: white;
}

.buttom-form {
    font-size: 17px;
    color: white;
    width: 140px;
    height: 43px;
    border-radius: 90px;
    background: #EB5C0C;
    border: none;
    transition: 0.5;
    cursor: pointer;
}

.btn-form-wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-titulo-wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Calibri';
    font-size: 2.3rem;
    padding-top: 2%;
}


.form-titulo-wraper>h1 {
    font-size: 2rem;
    font-family: 'Calibri';
    font-weight: 500;
}


.buttom-form:hover {
    background-color: rgb(136, 66, 0);
}


.button-Btn{
background-color: white;
color: #EB5C0C;
font-weight: bolder;
border: 0px;
cursor: pointer;
}


footer {
    padding: 2rem;
    text-align: center;
    width: 100%;
    background-color: white;
    font-family: 'Calibri';
    color: #767676;
}

  /* PROJECTS */

section#projects {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.project-img{
    width: 60%;
}

.project-img img{
    box-shadow: 0 1px 2px #0003;
    object-fit: cover;
    width: 80%;
    height: 400px;
}

.project-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: 800;
}

.swiper {
    width: 95vw;
    height: 500px;
}

.swiper-slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #EB5C0C(39, 39, 164);
}

.swiper-pagination-bullet-active {
    background-color: #EB5C0C;
}

/* FORM CADASTRO TRILHA */
.form-cadastro-trilha {
    display: flex;
    flex-direction: column;
}

.form-cadastro-trilha textarea {   
    outline: none;
    resize: none;
}

.form-cadastro-trilha label {
    margin: 0.5rem 0;
}

.form-cadastro-trilha input {
    height: 2.4rem;
    width: 100%;
    padding: 0.6rem;
}
.form-btn-cadastro, .form-title-container {
    text-align: center;
    margin: 1rem;
}
/* Modal de compartilhar */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #EB5C0C;
    border-radius: 20px;
    max-width: 460px;
    width: 100%;
    transition: .3;
    opacity: 0;
    visibility: hidden;
}

.modal-head {
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EB5C0C;
}

.modal-title {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.modal-close {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #ededed;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
}

.modal-body {
    padding: 30px 40px;
}

.modal-name {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
}

.modal-socials {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal-column {
    margin-right: 20px;
}

.modal-social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    font-size: 24px;
    background: #fff;
    text-decoration: none;
    transition: .5s;
}

.modal-social.is-facebook {
    border-color: #3b5998;
    color: #3b5998;
}

.modal-social.is-facebook:hover {
    background: #3b5998;
    color: #fff;
}

.modal-social.is-twitter {
    border-color: #00acee;
    color: #00acee;
}

.modal-social.is-twitter:hover {
    background: #00acee;
    color: #fff;
}
.modal-social.is-instagram {
    border-color: #8a3ab9;
    color: #8a3ab9;
}

.modal-social.is-instagram:hover {
    background: #8a3ab9;
    color: #fff;
}
.modal-social.is-linkedin {
    border-color: #0e76a8;
    color: #0e76a8;
}

.modal-social.is-linkedin:hover {
    background: #0e76a8;
    color: #fff;
}

.modal-label {
    position: relative;
    display: flex;
}

.modal-input {
    width: 100%;
    height: 50px;
    background: #fbfbfb;
    border: 1px solid #ededed;
    border-radius: none;
    padding: 0 15px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    color: #000;
}

.modal-label .btn-copiar {
    position: absolute;
    top: 7px;
    right: 7px;
}

.btn-copiar {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 30px;
    background: #EB5C0C;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    border: 1px solid #EB5;
    text-decoration: none;
}

.btn-copiar:hover {
    background: #fff;
    color: #EB5C0C;
}

.btn-copiar:focus{
    background: #3a1b02;
}

.modal.is-show {
    opacity: 1;
    visibility: visible;
}